# Django settings
# You can find details about them at https://docs.djangoproject.com/3.2/en/topics/settings/
DEBUG=False  # Debug mode (use True if in a development environment)
ALLOWED_HOSTS=127.0.0.1,localhost  # Allowed hosts
SECRET_KEY=<random>  # Secret key

# Database settings
DATABASE_URL=sqlite:///db.sqlite3  # You can use SQLite locally, but for production it's better to use PostgreSQL, for example.

# Telegram Scrapper settings
TELEGRAM_API_ID=  # Telegram API ID to use when scrapping the messages
TELEGRAM_API_HASH=  # Telegram API hash to use when scrapping the messages

# AWS Storage settings
AWS_ACCESS_KEY_ID= # AWS key ID
AWS_SECRET_ACCESS_KEY= # AWS secret access key
AWS_STORAGE_BUCKET_NAME= # AWS bucket name for storing media
AWS_S3_REGION_NAME= # AWS S3 region name