[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
createnv = "*"
dj-database-url = "*"
django = "*"
django-public-admin = "*"
plotly = "5.1"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
telethon = "1.22"
unidecode = "1.2"
whitenoise = "*"

[dev-packages]
black = "==21.6b0"
ipython = "*"

[requires]
python_version = "3.9"
